/* Helen and Carrie: Illuminated Text*/

body
{
margin-top: 5%;
margin-left: 5%;
margin-bottom: 5%;
margin-right: 5%
}

p
{
text-align: justify;
font-size: 12pt;
color: black;
padding: 12pt;
}

h1
{
color: black;
}

h2
{
color: black;
}

a:link
{
  color: blue;
}

a:visited
{
  color: purple;
}

a:hover
{
  color: red;
}
