/* Helen and Carrie: Illuminated Text*/

body
{
margin-top: 5%;
margin-left: 5%;
margin-bottom: 5%;
margin-right: 5%;
background-repeat: repeat-y;
background-size: 1600px 1000px
}

p
{
text-align: justify;
font-size: 12pt;
color: white;
padding: 12px;
}

h1
{
color: white;
}

h2
{
color: white;
}

h3
{
color: white;  
}

a:link
{
  color: blue;
}

a:visited
{
  color: purple;
}

a:hover
{
  color: red;
}
