/* Helen and Carrie: Illuminated Text*/

body
{
margin: auto;
}

p
{
text-align: justify;
font-size: 12pt;
color: black;
}

h1
{
color: black;
}

h2
{
color: black;
}

a:link
{
  color: blue;
}

a:visited
{
  color: purple;
}

a:hover
{
  color: red;
}
